In [21]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [22]:
# Bring in Numeric Dataset (all data)
enron = pd.read_csv(os.path.join('enron_salary_numeric.csv'))
enron_df = pd.DataFrame(enron)
enron_df.head()

,name,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
0,METTS MARK,365788.0,807.0,0.0,1061827.0,0.0,600000.0,585062.0,702.0,0.0,...,0.0,29.0,1740.0,1.0,False,0.0,0.0,0.0,mark.metts@enron.com,38.0
1,BAXTER JOHN C,267102.0,0.0,1295738.0,5634343.0,6680544.0,1200000.0,3942714.0,0.0,0.0,...,0.0,0.0,2660303.0,0.0,False,0.0,-1386055.0,1586055.0,0,0.0
2,ELLIOTT STEVEN,170941.0,0.0,0.0,211725.0,4890344.0,350000.0,1788391.0,0.0,0.0,...,0.0,0.0,12961.0,0.0,False,0.0,-400729.0,0.0,steven.elliott@enron.com,0.0
3,CORDES WILLIAM R,0.0,764.0,0.0,0.0,651850.0,0.0,386335.0,58.0,0.0,...,0.0,12.0,0.0,0.0,False,0.0,0.0,0.0,bill.cordes@enron.com,10.0
4,HANNON KEVIN P,243293.0,1045.0,0.0,288682.0,5538001.0,1500000.0,853064.0,1035.0,0.0,...,0.0,32.0,11350.0,21.0,True,0.0,-3117011.0,1617011.0,kevin.hannon@enron.com,32.0

In [23]:
enron_df.dtypes

name                          object
salary                       float64
to_messages                  float64
deferral_payments            float64
total_payments               float64
exercised_stock_options      float64
bonus                        float64
restricted_stock             float64
shared_receipt_with_poi      float64
restricted_stock_deferred    float64
total_stock_value            float64
expenses                     float64
loan_advances                float64
from_messages                float64
other                        float64
from_this_person_to_poi      float64
poi                             bool
director_fees                float64
deferred_income              float64
long_term_incentive          float64
email_address                 object
from_poi_to_this_person      float64
dtype: object

In [27]:
# Drop Total/Travel Agency Column
enron_df = enron_df[enron_df.name != 'TOTAL']
 
enron_df = enron_df[enron_df.name != 'THE TRAVEL AGENCY IN THE PARK']

In [28]:
# Drop non numeric columns
drop_columns = ['name', 'email_address']
enron_df.drop(drop_columns, inplace=True, axis=1)
enron_df.head()

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,expenses,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,from_poi_to_this_person
0,365788.0,807.0,0.0,1061827.0,0.0,600000.0,585062.0,702.0,0.0,585062.0,94299.0,0.0,29.0,1740.0,1.0,False,0.0,0.0,0.0,38.0
1,267102.0,0.0,1295738.0,5634343.0,6680544.0,1200000.0,3942714.0,0.0,0.0,10623258.0,11200.0,0.0,0.0,2660303.0,0.0,False,0.0,-1386055.0,1586055.0,0.0
2,170941.0,0.0,0.0,211725.0,4890344.0,350000.0,1788391.0,0.0,0.0,6678735.0,78552.0,0.0,0.0,12961.0,0.0,False,0.0,-400729.0,0.0,0.0
3,0.0,764.0,0.0,0.0,651850.0,0.0,386335.0,58.0,0.0,1038185.0,0.0,0.0,12.0,0.0,0.0,False,0.0,0.0,0.0,10.0
4,243293.0,1045.0,0.0,288682.0,5538001.0,1500000.0,853064.0,1035.0,0.0,6391065.0,34039.0,0.0,32.0,11350.0,21.0,True,0.0,-3117011.0,1617011.0,32.0

In [29]:
# This code not needer for this data set
# enron_df.fillna(0,inplace=True)
# enron_df.head()

In [30]:
# Assign X (data) and y (target)
X = enron_df.drop("poi", axis=1)
y = enron_df["poi"]
print(X.shape, y.shape)

(144, 19) (144,)

Split our data into training and testing

In [31]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

Create a Logistic Regression Model

In [32]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

Fit (train) or model using the training data

In [33]:
classifier.fit(X_train, y_train)

C:\Users\dever\Anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\dever\Anaconda3\envs\PythonData\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

Validate the model using the test data

In [34]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8703703703703703
Testing Data Score: 0.8055555555555556

Make predictions

In [35]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [False False False False False False  True False False False]
First 10 Actual labels: [False, False, False, False, False, False, False, False, False, False]

In [52]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

    Prediction  Actual
0        False   False
1        False   False
2        False   False
3        False   False
4        False   False
5        False   False
6         True   False
7        False   False
8        False   False
9        False   False
10       False    True
11       False   False
12       False   False
13        True   False
14       False   False
15       False   False
16       False   False
17       False    True
18        True    True
19       False   False
20       False   False
21       False   False
22       False   False
23        True   False
24       False   False
25       False   False
26       False   False
27       False   False
28       False   False
29       False   False
30        True   False
31       False   False
32       False    True
33       False   False
34        True   False
35       False   False
36       False    True