In [2]:
from sklearn import tree
import pandas as pd
import os
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(os.path.join("enron_test_data.csv"))
enron_df = pd.DataFrame(df)
enron_df.head()

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,expenses,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,from_poi_to_this_person
0,243293.0,1045.0,NaN,288682.0,5538001.0,1500000.0,853064.0,1035.0,NaN,6391065.0,34039.0,NaN,32.0,11350.0,21.0,True,NaN,-3117011.0,1617011.0,32.0
1,370448.0,2355.0,NaN,4099771.0,1104054.0,2600000.0,558801.0,2228.0,NaN,1662855.0,137108.0,NaN,48.0,297353.0,26.0,False,NaN,NaN,694862.0,58.0
2,197091.0,1238.0,1130036.0,1737629.0,880290.0,400000.0,409554.0,742.0,-409554.0,880290.0,43057.0,NaN,222.0,778.0,48.0,False,NaN,-33333.0,NaN,61.0
3,248546.0,2475.0,NaN,2014835.0,765313.0,850000.0,189041.0,2326.0,NaN,954354.0,84208.0,NaN,14.0,272.0,2.0,False,NaN,NaN,831809.0,25.0
4,288542.0,1758.0,27610.0,1490344.0,NaN,1200000.0,698242.0,1132.0,NaN,698242.0,16514.0,NaN,40.0,101740.0,11.0,True,NaN,-144062.0,NaN,240.0

In [4]:
enron_df.dtypes

salary                       float64
to_messages                  float64
deferral_payments            float64
total_payments               float64
exercised_stock_options      float64
bonus                        float64
restricted_stock             float64
shared_receipt_with_poi      float64
restricted_stock_deferred    float64
total_stock_value            float64
expenses                     float64
loan_advances                float64
from_messages                float64
other                        float64
from_this_person_to_poi      float64
poi                             bool
director_fees                float64
deferred_income              float64
long_term_incentive          float64
from_poi_to_this_person      float64
dtype: object

In [5]:
enron_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
salary,57.0,3.226185e+05,2.002051e+05,477.0,231946.00,271442.0,349487.00,1111258.0
to_messages,57.0,2.551333e+03,2.899136e+03,102.0,865.00,1755.0,3187.00,15149.0
deferral_payments,15.0,1.190966e+06,1.706176e+06,16586.0,136449.50,649584.0,1637024.50,6426990.0
total_payments,57.0,4.369650e+06,1.367250e+07,288682.0,1086821.00,1737629.0,3202070.00,103559793.0
exercised_stock_options,50.0,3.222645e+06,6.039760e+06,17378.0,666280.00,1458801.5,2259627.75,34348384.0
bonus,53.0,1.532075e+06,1.678866e+06,200000.0,600000.00,900000.0,1700000.00,8000000.0
restricted_stock,56.0,1.267769e+06,2.225486e+06,126027.0,313126.25,532420.5,1300855.00,14761694.0
shared_receipt_with_poi,57.0,1.463982e+03,1.249283e+03,23.0,465.00,1258.0,2188.00,5521.0
restricted_stock_deferred,6.0,-5.867182e+05,6.049764e+05,-1787380.0,-522555.00,-369689.5,-312932.00,-126027.0
total_stock_value,56.0,4.082268e+06,7.798147e+06,126027.0,892187.25,1786678.5,3486917.75,49110078.0
expenses,51.0,6.132945e+04,4.650351e+04,600.0,28714.50,49537.0,85191.00,228763.0
loan_advances,2.0,4.176250e+07,5.623267e+07,2000000.0,21881250.00,41762500.0,61643750.00,81525000.0
from_messages,57.0,7.860877e+02,2.169165e+03,12.0,30.00,56.0,230.00,14368.0
other,57.0,5.450998e+05,1.711209e+06,2.0,1191.00,11350.0,297353.00,10359729.0
from_this_person_to_poi,57.0,5.217544e+01,1.108529e+02,0.0,4.00,14.0,37.00,609.0
director_fees,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deferred_income,25.0,-8.956569e+05,1.173105e+06,-3504386.0,-934484.00,-300000.0,-125000.00,-833.0
long_term_incentive,45.0,8.063158e+05,9.522985e+05,69223.0,304805.00,484000.0,974293.00,5145434.0
from_poi_to_this_person,57.0,8.363158e+01,9.695648e+01,0.0,23.00,47.0,115.00,528.0

In [6]:
enron_df.poi.value_counts()

False    43
True     14
Name: poi, dtype: int64

In [7]:
for column in df.columns:
    df[column] = df[column].apply(lambda x: np.NaN if x == 'NaN' else x)

In [8]:
enron_df.fillna(0,inplace=True)
enron_df.head()

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,expenses,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,from_poi_to_this_person
0,243293.0,1045.0,0.0,288682.0,5538001.0,1500000.0,853064.0,1035.0,0.0,6391065.0,34039.0,0.0,32.0,11350.0,21.0,True,0.0,-3117011.0,1617011.0,32.0
1,370448.0,2355.0,0.0,4099771.0,1104054.0,2600000.0,558801.0,2228.0,0.0,1662855.0,137108.0,0.0,48.0,297353.0,26.0,False,0.0,0.0,694862.0,58.0
2,197091.0,1238.0,1130036.0,1737629.0,880290.0,400000.0,409554.0,742.0,-409554.0,880290.0,43057.0,0.0,222.0,778.0,48.0,False,0.0,-33333.0,0.0,61.0
3,248546.0,2475.0,0.0,2014835.0,765313.0,850000.0,189041.0,2326.0,0.0,954354.0,84208.0,0.0,14.0,272.0,2.0,False,0.0,0.0,831809.0,25.0
4,288542.0,1758.0,27610.0,1490344.0,0.0,1200000.0,698242.0,1132.0,0.0,698242.0,16514.0,0.0,40.0,101740.0,11.0,True,0.0,-144062.0,0.0,240.0

In [9]:
target = enron_df["poi"]
target_names = ["False", "True"]

In [10]:
data = enron_df.drop("poi", axis=1)
feature_names = data.columns
data.head()

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,expenses,loan_advances,from_messages,other,from_this_person_to_poi,director_fees,deferred_income,long_term_incentive,from_poi_to_this_person
0,243293.0,1045.0,0.0,288682.0,5538001.0,1500000.0,853064.0,1035.0,0.0,6391065.0,34039.0,0.0,32.0,11350.0,21.0,0.0,-3117011.0,1617011.0,32.0
1,370448.0,2355.0,0.0,4099771.0,1104054.0,2600000.0,558801.0,2228.0,0.0,1662855.0,137108.0,0.0,48.0,297353.0,26.0,0.0,0.0,694862.0,58.0
2,197091.0,1238.0,1130036.0,1737629.0,880290.0,400000.0,409554.0,742.0,-409554.0,880290.0,43057.0,0.0,222.0,778.0,48.0,0.0,-33333.0,0.0,61.0
3,248546.0,2475.0,0.0,2014835.0,765313.0,850000.0,189041.0,2326.0,0.0,954354.0,84208.0,0.0,14.0,272.0,2.0,0.0,0.0,831809.0,25.0
4,288542.0,1758.0,27610.0,1490344.0,0.0,1200000.0,698242.0,1132.0,0.0,698242.0,16514.0,0.0,40.0,101740.0,11.0,0.0,-144062.0,0.0,240.0

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [15]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
print(f"Decision Tree Classifier Score: {clf.score(X_test, y_test)}")

Decision Tree Classifier Score: 0.6666666666666666

In [16]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
print(f"Random Forest Tree Classifier Score: {rf.score(X_test, y_test)}")

Random Forest Tree Classifier Score: 0.7333333333333333

In [14]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.1084226035382404, 'from_poi_to_this_person'),
 (0.0751237706583383, 'total_stock_value'),
 (0.07302437751268068, 'other'),
 (0.07217924377156043, 'exercised_stock_options'),
 (0.07150175857097711, 'long_term_incentive'),
 (0.06803725780557963, 'to_messages'),
 (0.06656297370637437, 'restricted_stock'),
 (0.06290918081892072, 'total_payments'),
 (0.060685697103578747, 'bonus'),
 (0.0594601352659154, 'from_this_person_to_poi'),
 (0.05786832060890174, 'from_messages'),
 (0.05460563522595676, 'shared_receipt_with_poi'),
 (0.05219199921294705, 'salary'),
 (0.052119992040461985, 'expenses'),
 (0.049345361381693945, 'deferred_income'),
 (0.010913329041265758, 'deferral_payments'),
 (0.0033384605281985913, 'restricted_stock_deferred'),
 (0.0017099032084083247, 'loan_advances'),
 (0.0, 'director_fees')]