In [1]:
from sklearn import tree
import pandas as pd
import os
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(os.path.join("enron_salary_numeric.csv"))
enron_df = pd.DataFrame(df)
enron_df.head()

,name,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
0,METTS MARK,365788.0,807.0,0.0,1061827.0,0.0,600000.0,585062.0,702.0,0.0,...,0.0,29.0,1740.0,1.0,False,0.0,0.0,0.0,mark.metts@enron.com,38.0
1,BAXTER JOHN C,267102.0,0.0,1295738.0,5634343.0,6680544.0,1200000.0,3942714.0,0.0,0.0,...,0.0,0.0,2660303.0,0.0,False,0.0,-1386055.0,1586055.0,0,0.0
2,ELLIOTT STEVEN,170941.0,0.0,0.0,211725.0,4890344.0,350000.0,1788391.0,0.0,0.0,...,0.0,0.0,12961.0,0.0,False,0.0,-400729.0,0.0,steven.elliott@enron.com,0.0
3,CORDES WILLIAM R,0.0,764.0,0.0,0.0,651850.0,0.0,386335.0,58.0,0.0,...,0.0,12.0,0.0,0.0,False,0.0,0.0,0.0,bill.cordes@enron.com,10.0
4,HANNON KEVIN P,243293.0,1045.0,0.0,288682.0,5538001.0,1500000.0,853064.0,1035.0,0.0,...,0.0,32.0,11350.0,21.0,True,0.0,-3117011.0,1617011.0,kevin.hannon@enron.com,32.0

In [3]:
enron_df.dtypes

name                          object
salary                       float64
to_messages                  float64
deferral_payments            float64
total_payments               float64
exercised_stock_options      float64
bonus                        float64
restricted_stock             float64
shared_receipt_with_poi      float64
restricted_stock_deferred    float64
total_stock_value            float64
expenses                     float64
loan_advances                float64
from_messages                float64
other                        float64
from_this_person_to_poi      float64
poi                             bool
director_fees                float64
deferred_income              float64
long_term_incentive          float64
email_address                 object
from_poi_to_this_person      float64
dtype: object

In [4]:
enron_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
salary,146.0,3.658114e+05,2.203575e+06,0.0,0.00,210596.0,270850.50,26704229.0
to_messages,146.0,1.221589e+03,2.226771e+03,0.0,0.00,289.0,1585.75,15149.0
deferral_payments,146.0,4.387965e+05,2.741325e+06,-102500.0,0.00,0.0,9684.50,32083396.0
total_payments,146.0,4.350622e+06,2.693448e+07,0.0,93944.75,941359.5,1968286.75,309886585.0
exercised_stock_options,146.0,4.182736e+06,2.607040e+07,0.0,0.00,608293.5,1714220.75,311764000.0
bonus,146.0,1.333474e+06,8.094029e+06,0.0,0.00,300000.0,800000.00,97343619.0
restricted_stock,146.0,1.749257e+06,1.089995e+07,-2604490.0,8115.00,360528.0,814528.00,130322299.0
shared_receipt_with_poi,146.0,6.929863e+02,1.072969e+03,0.0,0.00,102.5,893.50,5521.0
restricted_stock_deferred,146.0,2.051637e+04,1.439661e+06,-7576788.0,0.00,0.0,0.00,15456290.0
total_stock_value,146.0,5.846018e+06,3.624681e+07,-44093.0,228869.50,965955.0,2319991.25,434509511.0
expenses,146.0,7.074827e+04,4.327163e+05,0.0,0.00,20182.0,53740.75,5235198.0
loan_advances,146.0,1.149658e+06,9.649342e+06,0.0,0.00,0.0,0.00,83925000.0
from_messages,146.0,3.586027e+02,1.441260e+03,0.0,0.00,16.5,51.25,14368.0
other,146.0,5.854318e+05,3.682345e+06,0.0,0.00,959.5,150606.50,42667589.0
from_this_person_to_poi,146.0,2.428767e+01,7.927821e+01,0.0,0.00,0.0,13.75,609.0
director_fees,146.0,1.942249e+04,1.190543e+05,0.0,0.00,0.0,0.00,1398517.0
deferred_income,146.0,-3.827622e+05,2.378250e+06,-27992891.0,-37926.00,0.0,0.00,0.0
long_term_incentive,146.0,6.646839e+05,4.046072e+06,0.0,0.00,0.0,375064.75,48521928.0
from_poi_to_this_person,146.0,3.822603e+01,7.390112e+01,0.0,0.00,2.5,40.75,528.0

In [5]:
enron_df.poi.value_counts()

False    128
True      18
Name: poi, dtype: int64

In [6]:
# Code not need as values not in NaN format
# enron_df.fillna(0,inplace=True)
# enron_df.head()

In [7]:
# Drop Total Column
enron_df = enron_df[enron_df.name != 'TOTAL']

enron_df = enron_df[enron_df.name != 'THE TRAVEL AGENCY IN THE PARK']

In [8]:
# Drop non numeric columns
drop_columns = ['name', 'email_address']
enron_df.drop(drop_columns, inplace=True, axis=1)
enron_df.head()

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,expenses,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,from_poi_to_this_person
0,365788.0,807.0,0.0,1061827.0,0.0,600000.0,585062.0,702.0,0.0,585062.0,94299.0,0.0,29.0,1740.0,1.0,False,0.0,0.0,0.0,38.0
1,267102.0,0.0,1295738.0,5634343.0,6680544.0,1200000.0,3942714.0,0.0,0.0,10623258.0,11200.0,0.0,0.0,2660303.0,0.0,False,0.0,-1386055.0,1586055.0,0.0
2,170941.0,0.0,0.0,211725.0,4890344.0,350000.0,1788391.0,0.0,0.0,6678735.0,78552.0,0.0,0.0,12961.0,0.0,False,0.0,-400729.0,0.0,0.0
3,0.0,764.0,0.0,0.0,651850.0,0.0,386335.0,58.0,0.0,1038185.0,0.0,0.0,12.0,0.0,0.0,False,0.0,0.0,0.0,10.0
4,243293.0,1045.0,0.0,288682.0,5538001.0,1500000.0,853064.0,1035.0,0.0,6391065.0,34039.0,0.0,32.0,11350.0,21.0,True,0.0,-3117011.0,1617011.0,32.0

In [9]:
target = enron_df["poi"]
target_names = ["False", "True"]

In [10]:
data = enron_df.drop("poi", axis=1)
feature_names = data.columns
data.head()

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,expenses,loan_advances,from_messages,other,from_this_person_to_poi,director_fees,deferred_income,long_term_incentive,from_poi_to_this_person
0,365788.0,807.0,0.0,1061827.0,0.0,600000.0,585062.0,702.0,0.0,585062.0,94299.0,0.0,29.0,1740.0,1.0,0.0,0.0,0.0,38.0
1,267102.0,0.0,1295738.0,5634343.0,6680544.0,1200000.0,3942714.0,0.0,0.0,10623258.0,11200.0,0.0,0.0,2660303.0,0.0,0.0,-1386055.0,1586055.0,0.0
2,170941.0,0.0,0.0,211725.0,4890344.0,350000.0,1788391.0,0.0,0.0,6678735.0,78552.0,0.0,0.0,12961.0,0.0,0.0,-400729.0,0.0,0.0
3,0.0,764.0,0.0,0.0,651850.0,0.0,386335.0,58.0,0.0,1038185.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,10.0
4,243293.0,1045.0,0.0,288682.0,5538001.0,1500000.0,853064.0,1035.0,0.0,6391065.0,34039.0,0.0,32.0,11350.0,21.0,0.0,-3117011.0,1617011.0,32.0

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [16]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
print(f"Decision Tree Classifier Score: {clf.score(X_test, y_test)}")

Decision Tree Classifier Score: 0.8333333333333334

In [17]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
print(f"Random Forest Tree Classifier Score: {rf.score(X_test, y_test)}")

Random Forest Tree Classifier Score: 0.8611111111111112

In [14]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.09594957631434899, 'other'),
 (0.09471661250618571, 'exercised_stock_options'),
 (0.08734739397813852, 'expenses'),
 (0.07726754945617385, 'total_stock_value'),
 (0.07563036277684614, 'bonus'),
 (0.07341828229989, 'restricted_stock'),
 (0.07286953317166983, 'salary'),
 (0.06822792867199003, 'total_payments'),
 (0.05389844171180736, 'from_this_person_to_poi'),
 (0.053823988116779596, 'shared_receipt_with_poi'),
 (0.05019058867892787, 'long_term_incentive'),
 (0.048793060147505576, 'deferred_income'),
 (0.048780591943553914, 'to_messages'),
 (0.04313579011765865, 'from_poi_to_this_person'),
 (0.037330728397941514, 'from_messages'),
 (0.01600112056305928, 'deferral_payments'),
 (0.0015007361059992637, 'restricted_stock_deferred'),
 (0.0009112634286206514, 'loan_advances'),
 (0.00020645161290322583, 'director_fees')]