In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [3]:
enron = pd.read_csv(os.path.join('enron_test_data.csv'))
enron_df = pd.DataFrame(enron)
enron_df.head()

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,expenses,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,from_poi_to_this_person
0,243293.0,1045.0,NaN,288682.0,5538001.0,1500000.0,853064.0,1035.0,NaN,6391065.0,34039.0,NaN,32.0,11350.0,21.0,True,NaN,-3117011.0,1617011.0,32.0
1,370448.0,2355.0,NaN,4099771.0,1104054.0,2600000.0,558801.0,2228.0,NaN,1662855.0,137108.0,NaN,48.0,297353.0,26.0,False,NaN,NaN,694862.0,58.0
2,197091.0,1238.0,1130036.0,1737629.0,880290.0,400000.0,409554.0,742.0,-409554.0,880290.0,43057.0,NaN,222.0,778.0,48.0,False,NaN,-33333.0,NaN,61.0
3,248546.0,2475.0,NaN,2014835.0,765313.0,850000.0,189041.0,2326.0,NaN,954354.0,84208.0,NaN,14.0,272.0,2.0,False,NaN,NaN,831809.0,25.0
4,288542.0,1758.0,27610.0,1490344.0,NaN,1200000.0,698242.0,1132.0,NaN,698242.0,16514.0,NaN,40.0,101740.0,11.0,True,NaN,-144062.0,NaN,240.0

In [4]:
enron_df.dtypes

salary                       float64
to_messages                  float64
deferral_payments            float64
total_payments               float64
exercised_stock_options      float64
bonus                        float64
restricted_stock             float64
shared_receipt_with_poi      float64
restricted_stock_deferred    float64
total_stock_value            float64
expenses                     float64
loan_advances                float64
from_messages                float64
other                        float64
from_this_person_to_poi      float64
poi                             bool
director_fees                float64
deferred_income              float64
long_term_incentive          float64
from_poi_to_this_person      float64
dtype: object

In [15]:
enron_df.fillna(0,inplace=True)
enron_df.head()

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,expenses,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,from_poi_to_this_person
0,243293.0,1045.0,0.0,288682.0,5538001.0,1500000.0,853064.0,1035.0,0.0,6391065.0,34039.0,0.0,32.0,11350.0,21.0,True,0.0,-3117011.0,1617011.0,32.0
1,370448.0,2355.0,0.0,4099771.0,1104054.0,2600000.0,558801.0,2228.0,0.0,1662855.0,137108.0,0.0,48.0,297353.0,26.0,False,0.0,0.0,694862.0,58.0
2,197091.0,1238.0,1130036.0,1737629.0,880290.0,400000.0,409554.0,742.0,-409554.0,880290.0,43057.0,0.0,222.0,778.0,48.0,False,0.0,-33333.0,0.0,61.0
3,248546.0,2475.0,0.0,2014835.0,765313.0,850000.0,189041.0,2326.0,0.0,954354.0,84208.0,0.0,14.0,272.0,2.0,False,0.0,0.0,831809.0,25.0
4,288542.0,1758.0,27610.0,1490344.0,0.0,1200000.0,698242.0,1132.0,0.0,698242.0,16514.0,0.0,40.0,101740.0,11.0,True,0.0,-144062.0,0.0,240.0

In [16]:
# Assign X (data) and y (target)
X = enron_df.drop("poi", axis=1)
y = enron_df["poi"]
print(X.shape, y.shape)

(57, 19) (57,)

Split our data into training and testing

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

Create a Logistic Regression Model

In [18]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

Fit (train) or model using the training data

In [19]:
classifier.fit(X_train, y_train)

C:\Users\dever\Anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

Validate the model using the test data

In [20]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9285714285714286
Testing Data Score: 0.6

Make predictions

In [21]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [False False  True  True False False False False False  True]
First 10 Actual labels: [False, False, True, False, False, False, False, False, True, False]

In [22]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

    Prediction  Actual
0        False   False
1        False   False
2         True    True
3         True   False
4        False   False
5        False   False
6        False   False
7        False   False
8        False    True
9         True   False
10       False    True
11       False   False
12       False   False
13        True   False
14       False    True